body {
    background-color: black;
    color: white;
    
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 0vh;
    transform: translate(-50%, -50%);
    text-shadow: 0.1vh 0.1vh 0.5vh orange, 0.1vh -0.1vh 0.5vh orange, -0.1vh 0.1vh 0.5vh orange, -0.1vh -0.1vh 0.5vh orange;
}
button {
    background-color: greenyellow;
    color: white;
    border: none;
    padding:  3vh;
    font-size: x-large;
    margin: 3vh;
    /* color: rgb(145, 145, 145); */
    border-radius: 2vh;
    text-shadow: 0.1vh 0.1vh 0.5vh orange;
    box-shadow: 1vh 1vh 2vh lightblue, 
                -1vh -1vh 2vh lightblue,
                1vh -1vh 2vh lightblue,
                -1vh 1vh 2vh lightblue;
}
#menu {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}