body {
    background-color: black;
    color: white;
    
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    position: absolute;
    font-size: x-large;
    left: 50%;
    top: 0vh;
    transform: translate(-50%, -50%);
    text-shadow: 0.1vh 0.1vh 0.5vh orange, 0.1vh -0.1vh 0.5vh orange, -0.1vh 0.1vh 0.5vh orange, -0.1vh -0.1vh 0.5vh orange;
}
button {
    background-color: greenyellow;
    color: white;
    border: none;
    padding:  1.75vh;
    font-size: x-large;
    border-radius: 2vh;
    margin: 3.5vh;
    box-shadow: 1vh 1vh 2vh lightblue, 
                -1vh -1vh 2vh lightblue,
                1vh -1vh 2vh lightblue,
                -1vh 1vh 2vh lightblue;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}