body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
button {
    background-color: greenyellow;
    color: white;
    border: none;
    padding:  3vh;
    font-size: x-large;
    margin: 3vh;
    /* color: rgb(145, 145, 145); */
    border-radius: 2vh;
    text-shadow: 0.1vh 0.1vh 0.5vh orange;
    box-shadow: 1vh 1vh 2vh lightblue, 
                -1vh -1vh 2vh lightblue,
                1vh -1vh 2vh rgb(27, 10, 255),
                -1vh 1vh 2vh rgb(255, 0, 0);
}
#menu {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}